<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALERTA!</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}">
</head>
<body>
    
    <div>
        <h1>Quer mesmo remover este livro?</h1>
        <form method="POST">
            <button type="submit">Remover</button>
            <a href="/">Voltar à estante</a>
        </form>
    </div>

</body>
</html>