<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estante virtual</title>
</head>
<body>
    
    <div>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" width="150"><a href="/cadastro">Cadastrar livro</a></td>
                <td align="center" width="100"><a href="/lidos">Lidos</a></td>
                <td align="center" width="100"><a href="/">Menu</a></td>
            </tr>
        </table>
        
        <table th:each="livro : ${emprestados}" th:object="${livro}" th:if="${livro.localDeVisualizacao == 'emprestados'}" height="50" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" width="100"><h3>Título:</h3></td>
                <td><h3 th:text="${livro.tituloDoLivro}"></h3></td>
            </tr>
            <tr>
                <td align="center" width="100"><h4>Autor:</h4></td>
                <td><p th:text="${livro.autor}"></p></td>
            </tr>
            <tr>
                <td align="center" width="100"><h4>Gênero:</h4></td>
                <td><p th:text="${livro.genero}"></p></td>
            </tr>
            <tr>
                <td align="center" width="100"><h4>Páginas:</h4></td>
                <td><p th:text="${livro.paginas}"></p></td>
            </tr>
            <tr>
                <td align="center" width="100"><a href="/" th:attr="href=@{'devolvido/'+${livro.id}}">Devolvido</a></td>
                <td align="center" width="100"><a href="" th:attr="href=@{'apagar/'+${livro.id}}">Apagar</a></td>
            </tr>
        </table>
    </div>
    <br>
    <br>

</body>
</html>